<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatroom</title>
    <link rel="stylesheet" href="assets/css/style.css"/>
</head>
<body>
<section class="msger">
    <header class="msger-header">
        <div class="msger-header-title">
            超酷聊天室
        </div>
    </header>
    <!--chat block-->
    <div class="msger-chat">
	
    </div>
    <!--chat block-->
    <div class="msger-inputarea">
        <input type="text" class="msger-input" id="msg" placeholder="請輸入文字">
        <button type="button" id="send" class="msger-send-btn">傳送</button>
    </div>
</section>
<script src="assets/js/main.js"></script>
</body>
</html>